@model StaffHome

@section Scripts {
<script>
    $('button[type=submit]').on('click', function(){
        var t = $(this).data('bikeId');

        $('input[name=BikeID]').val(t);
    });

    $('#frmCheckout').on('submit', function(e){
        if ($('select[name=CustomerID]').val() == '0')
        {
            alert("Select customer");

            e.preventDefault();
        }
    });
</script>
}


<div class="container pt-2">
    <form id="frmCheckout" asp-action="Checkout">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <select class="dropdown btn btn-secondary">
                            <option>-- Filter Model --</option>

                            @foreach(var bikeModel in Model.BikeModels)
                            {
                                <option>@(bikeModel.Name)</option>
                            }
                        </select>
                    </div>
                    <div class="col text-end">
                        <select name="CustomerID" class="dropdown btn btn-secondary">
                            <option value="0">-- Select Customer --</option>

                            @foreach(var customer in Model.Customers)
                            {
                                <option value="@(customer.ID)">@($"{customer.FirstName} {customer.LastName}")</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <input name="BikeID" type="hidden" />
                @{
                    foreach (var bikeModel in Model.BikeModels)
                    {
                        foreach (var bike in bikeModel.Bikes)
                        {
                            <div class="col-sm-6 col-md-5 col-lg-3" data-bike-model="@(bikeModel.Name)">
                                <div class="box p-4 mb-4 bike-item">
                                    <div class="row mt-1">
                                        <div class="col mt-2" style="text-align: left;">
                                            <label class="form-label d-block mb-0" style="font-size: 16px;">Per Hour: <strong>@($"{bike.Rate.RatePerMinute:c2}")</strong></label>
                                            <label class="form-label d-block mb-0" style="font-size: 16px;">ID: <strong>@(bike.ID)</strong></label>
                                            <label class="form-label d-block mb-0" style="font-size: 16px;">Model: <strong>@(bikeModel.Name)</strong></label>
                                            <label class="form-label d-block mb-0" style="font-size: 16px;">Status: <strong>@(bike.Status)</strong></label>
                                            <div class="text-end mt-5">
                                                    @{
                                                        if (bike.Status == BikeInventory.Common.Enums.BikeStatus.Available)
                                                        {
                                                            <button class="btn btn-light" role="button" type="submit" data-bike-id="@(bike.ID)">Checkout &gt;&gt;</button>
                                                        }
                                                        else
                                                        {
                                                            <label>Bike is not available</label>
                                                        }
                                                    }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        }
                    }
                }
                </div>
            </div>
        </div>
    </form>
</div>

